.DS_Store
.idea
.vscode
*.log
tmp/
bin/
deploy/local*.yaml
load-test/load_test.results
dist/
config.yaml
deploy/nri-prometheus.major.yaml
deploy/nri-prometheus.minor.yaml
target/
.envrc
snyk-monitor-result.json
snyk-result.json
snyk_report.css
snyk_report.html

# Downloaded chart dependencies
**/charts/*.tgz

# Release toolkit
CHANGELOG.partial.md

