.DS_Store
.idea
*.log
tmp/
vendor/*/
!vendor/github.com/
vendor/github.com/*/
!vendor/github.com/newrelic/
vendor/github.com/newrelic/*/
!vendor/github.com/newrelic/go-telemetry-sdk/
bin/
deploy/local*.yaml
dist/
