.DS_Store
.idea
*.log
tmp/
vendor/*/
!vendor/github.com/
vendor/github.com/*/
!vendor/github.com/newrelic/
vendor/github.com/newrelic/*/
!vendor/github.com/newrelic/go-telemetry-sdk/
bin/
deploy/local*.yaml
dist/
config.yaml
deploy/nri-prometheus.major.yaml
deploy/nri-prometheus.minor.yaml
target/
.envrc
