on:
  push:
    branches:
      - main
  pull_request:

name: Load Tests
jobs:
  load_tests:
    if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ci/skip-load-test') }}
    name: Load Tests
    runs-on: ubuntu-22.04  # Read the comment below why this is not set to `latest`.
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - name: Installing dependencies
        run: |
          sudo wget -O /usr/local/bin/skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo chmod +x /usr/local/bin/skaffold
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.9.0
        with:
          minikube version: v1.30.1
          kubernetes version: v1.25.6
          driver: docker
          github token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run load tests
        env:
          NEWRELIC_LICENSE: ${{ secrets.NEWRELIC_LICENSE }}
        run : |
          source ./load-test/load_test.sh
          runLoadTest
