name: Nightly build
on:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches:
      - main
  pull_request:

env:
  INTEGRATION: "prometheus"
  ORIGINAL_REPO_NAME: 'newrelic/nri-prometheus'
  TAG: nightly
  TAG_SUFFIX: "-nightly"

jobs:
  nightly:
    uses: newrelic/coreint-automation/.github/workflows/reusable_nightly.yaml@NR-341878-Use-reusable-workflow-for-docker-image-security-checks
    secrets:
      docker_username: ${{ secrets.FSI_DOCKERHUB_USERNAME }}
      docker_password: ${{ secrets.FSI_DOCKERHUB_TOKEN }}
    with:
      docker_image: newrelic/nri-prometheus
      docker_tag: nightly
      target_branches: "main"
      integration_name: "prometheus"
      build_command: |
        make release
      setup_qemu: true
      setup_buildx: true
      setup_go: true
      go_version_file: 'go.mod'
      trivy_scan: false
      generate_packages: true
