apiVersion: v2
name: load-test-environment
description: A Helm chart for prometheus load generator.
type: application
version: 0.1.3-devel
maintainers:
 - name: alvarocabanas
 - name: carlossscastro
 - name: gsanchezgavier
 - name: kang-makes
 - name: paologallinaharbur
 - name: roobre
